body {
  background-image: url("./img/background.jpg");
  background-size: auto;
  background-repeat: no-repeat;
}
.nav {
  position: absolute;
  width: 100%;
  height: 88px;
  left: 0px;
  top: 0px;
  background: rgba(255, 255, 255, 0.5);
}
.logo {
  position: absolute;

  height: 48px;
  left: 64px;
  top: 20px;
  border-radius: 20px;
}
.title {
  position: absolute;
  width: 165px;
  height: 38px;
  left: 124px;
  top: 26px;

  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: #dd0c39;
}

.nepal {
  position: absolute;
  width: 210px;
  height: 85px;
  left: 184px;
  top: 232px;

  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 85px;
  letter-spacing: 0.02em;

  background: linear-gradient(270deg, #003594 0%, #cf1940 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.hover-text {
  position: absolute;
  width: 380px;
  height: 99px;
  left: 996px;
  top: 280px;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 32px;
  text-align: right;
  letter-spacing: 0.02em;
  color: #dd0c39;
}

.hover-text-2 {
  padding: 10px;
  left: 1150px;
  top: 400px;
  width: 130px;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0.02em;
  text-align: center;
  background: linear-gradient(270deg, #003594 0%, #cf1940 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border: 1px solid rgb(247, 4, 4);
  border-radius: 20px;
  position: absolute;
}
a {
  text-decoration: none;
}
.nav-menu {
  right: 0%;
  top: 0%;
  bottom: 0%;

  font-family: "Playfair Display";
  font-weight: 800;
  font-size: 20px;
  line-height: 21px;
  letter-spacing: 0.02em;
  /* float: right; */
  margin: 10px;
  padding: 5px;
  color: #dd0c39;
  list-style-type: none;
}
a:hover {
  background-color: #dd0c39;
  color: white;
  border-radius: 20px;
}
.navbar-menu {
  position: absolute;
  left: 65%;
  top: 35px;
  font-family: "Playfair Display";
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #dd0c39;
}
.about-us {
  position: absolute;
  /* width: 210px;
    height: 85px;
    left: 184px;
    top: 232px; */
  margin: auto;
  left: 38%;
  text-align: center;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 85px;
  letter-spacing: 0.02em;

  background: linear-gradient(270deg, #003594 0%, #cf1940 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.image-body{  
    position: absolute;
    margin-top: 10%;
    display: block; 
    margin-left: auto;
    margin-right: auto;
    width: 50%; 
    left: 30%;
}
.description{
    position: absolute;
width: 1184px;
height: 256px;
left: 135px;
top: 700px;

font-family: 'Playfair Display';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 21px;
text-align: justify;
letter-spacing: 0.02em;

/* Gradient */

background: linear-gradient(270deg, #003594 0%, #CF1940 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;

}